* {
    margin: 2px;
    padding: 2px;
    font-family:'Courier New', Courier, monospace;
    font-size: medium;
     
}
body{
    background-color:#efd5d5 ;
    justify-content: center;
}
h2{
    color: #753636;
    font-size:xx-large; 
    text-align: center;
}
input{
    padding: 6px 6px;
    background-color: #f7eded;
    border: none;
    border-bottom: solid 2px #753636;
}
select {
    padding: 6px 6px;
    background-color: #f7eded;
    border: none;
    border-bottom: solid 2px #753636;
}

input[type=submit] {
    width: 60%;
    background-color: #753636;
    color: white;
    padding: 15px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 10px;
    margin-left: 70px;
}
.formulario {
    position:  relative;
    width: 100%;
    max-width: 500px;
    min-height: 300px;
    margin: 50px;
    background: #fff;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.3);
}
.campo{
    margin: 10px;
}

.campo .tag{
    width: 100px;
    padding: 6px 6px;
    display: inline-block;
    background: rgb(212 141 141);
    color: white;
    margin-left: 70px;
    font-weight: 700;
    border: none;
    border-radius: 20px;
}